@model DekamProjeTakipCreateDto

@{
    ViewData["Title"] = "EkleAciliyet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*https://codepen.io/ChamaraHarindra/full/GNEyqo/*@

<style>
    .step-app > .step-steps > li.done {
        background-color: #427bb7 !important;
        padding: 15px;
    }

    .st-title {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

        .st-title .step-icon {
            position: relative;
            outline: none;
            width: 35px;
            line-height: 100%;
            height: 35px;
            padding: 10px 0 0 0;
            background: #ffffff;
            margin: auto;
            margin-bottom: auto;
            border-radius: 50%;
            font-weight: bold;
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
            text-align: center;
        }

        .st-title .step-text {
            margin-top: 10px;
        }

            .st-title .step-text span {
                color: #fff;
                float: left;
                display: block;
                width: 100%;
                text-align: center;
            }

            .st-title .step-text .step-inner-1 {
                font-size: 16px;
                font-weight: 600;
            }

            .st-title .step-text .step-inner-2 {
                font-size: 14px;
                font-style: italic;
                color: rgba(255, 255, 255, 0.7);
            }

        .st-title .title::after, .st-title .title::after {
            border-left: 45px solid #33a7d7;
        }
</style>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-9 ">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Adım Adım Sipariş Sistemi</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">

                    <div class="step-app" id="demo">
                        <ul class="step-steps">
                            <li data-step-target="step1">
                                <div class="st-title">
                                    <p class="step-icon"><span>1</span></p>
                                    <div class="step-text">
                                        <span class="step-inner-1">Account Setup</span>
                                        <span class="step-inner-2">Account Details</span>
                                    </div>
                                </div>
                            </li>
                            <li data-step-target="step2">Step 2</li>
                            <li data-step-target="step3">Step 3</li>
                            <li data-step-target="step4">Step 4</li>
                            <li data-step-target="step5">Step 5</li>
                        </ul>
                        <div class="step-content">
                            <div class="step-tab-panel" data-step="step1">

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <h3 class="card-title">Irk Seçimi</h3>
                                            </div>

                                            <!-- /.card-header -->
                                            <!-- form start -->

                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label>Hayvan Irkını Seçiniz:</label>
                                                    <select class="form-control" size="10" asp-for="DeneyHayvaniTurID" asp-items="ViewBag.DeneyHayvaniTurCategories">
                                                    </select>
                                                    <span asp-validation-for="@Model.DeneyHayvaniTurID" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <!-- /.card-body -->
                                        </div>
                                    </div>

                                    <div class="col-md-10">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="card card-outline card-danger">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Bilgi</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <strong>  Ötenazi Ücreti - Bir kere istenen bir ücrettir  :</strong> {{otenaziUcreti}} [ ₺] <br>
                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                            </div>

                                            <div class="col-md-6">
                                                <div class="card card-outline card-danger">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Bilgi</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <strong>   	Günlük Destek Ücreti  Destek istenen gün sayısı ile çarpılır  :</strong> {{destekUcreti}} ₺  <br>
                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                            </div>
                                        </div>

                                        <div class="card card-info">
                                            <div class="card-header">
                                                <h3 class="card-title">Hayvan Seçimi</h3>
                                            </div>

                                            <!-- /.card-header -->
                                            <!-- form start -->

                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Hayvan Adı</th>
                                                                <th>Tip</th>
                                                                <th>Fiyat</th>
                                                                <th>İstenen Hayvan Sayısı   </th>
                                                                <th>Destek istenen Hayvan Sayısı</th>
                                                                <th>Bakım Desteği Gün sayısı </th>
                                                                <th>Ötenazi  </th>
                                                                <th style="width: 40px">Genel Toplam</th>
                                                                <th style="width: 40px">Sepet</th>
                                                            </tr>
                                                        </thead>

                                                        <script id="cartSelectItemsTpl" type="text/x-handlebars-template">
                                                            {{#each cartSelectItems}}
                                                            <tr id="CartAddData-{{id}}">
                                                                <td>{{irkAdi}}</td>
                                                                <td>{{isim}}</td>
                                                                <td>{{fiyat}} ₺</td>
                                                                <td> <input type="text" name="IstenenHayvanSayisi"  class="IstenenHayvanSayisi"  style="width:60px" /> </td>
                                                                <td> <input type="text" name="DestekIstenenHayvanSayisi" class="DestekIstenenHayvanSayisi" style="width:60px" /></td>
                                                                <td> <input type="text" name="BakimDestegiGunSayisi" class="BakimDestegiGunSayisi" style="width:60px" /> </td>
                                                                <td> <input type="checkbox" style="width:60px" name="OtenaziIstek" class="OtenaziIstek" /></td>
                                                                <td> </td>
                                                                <td style="border:none">   </td>

                                                            </tr>

                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>  </td>
                                                                <td> Günlük Bakım ücret  {{gunlukBakimUcreti}} ₺ * Gün Sayısı  </td>
                                                                <td>Ötenazi Ücreti {{otenaziUcret}} ₺ </td>
                                                                <td></td>
                                                                <td style="border:none"> <a href="#" data-val="{{id}}" class="add-to-cart btn btn-primary"> Hesapla </a>  </td>

                                                            </tr>


                                                            <tr id="CartDestekTalep-{{id}}">
                                                                <td colspan="8">
                                                                    <strong> Destek Talep Türü Seçenekleri </strong>
                                                                    <div class="row teknikDestekTalepTurleri">
                                                                    </div>
                                                                </td>
                                                                <td style="border-top:none">

                                                                    <a href="#" data-val="{{id}}" class="add-to-cart btn btn-success"> Sepete Ekle </a>
                                                                </td>
                                                            </tr>

                                                            {{/each}}


                                                        </script>

                                                        <script id="teknikDestekTalepTurleriTpl" type="text/x-handlebars-template">
                                                            {{#each teknikDestekTalepTurleri}}
                                                            <div class="col-md-3">

                                                                <div class="form-group">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input destekTalepTur" name="destekTalepTur" id="destekTalepTurId-{{id}}" value="{{id}}" type="checkbox">
                                                                        <label for="destekTalepTurId-{{id}}" class="form-check-label"> {{name}} /Fiyat {{price}} ₺</label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            {{/each}}
                                                        </script>

                                                        <tbody id="cartSelectItems">
                                                            <tr>
                                                                <td colspan="9">
                                                                    <span class="text-danger text-center">Lütfen Yandaki Alandan  Hayvan Irkı Seçimi Yapınız </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                </div>
                                                </div>

                                                <!-- /.card-body -->
                                            </div>
                                    </div>
                                </div>

                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Proje Yöneticisi</h3>
                                    </div>

                                    <!-- /.card-header -->
                                    <!-- form start -->

                                    <div class="card-body">
                                        <form name="veri" id="veri">
                                            <div class="form-group">
                                                <label asp-for="ProjeYurutucusu">Proje Yürütücüsü: * </label>
                                                <input asp-for="ProjeYurutucusu" type="text" required class="form-control" />
                                                <span asp-validation-for="ProjeYurutucusu" class="text-danger"></span>
                                                <p>Proje yürütücüsünün adı soyadı bilgisi</p>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="ProjeYurutukurumu">Proje Yürütücüsünün Kurumu: * </label>
                                                <input asp-for="ProjeYurutukurumu" type="text" class="form-control" />
                                                <span asp-validation-for="ProjeYurutukurumu" class="text-danger"></span>
                                                <p>Proje yürütücüsünün bağlı olduğu kurum bilgisi</p>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="ProjeYurutuTelefon">Proje Yürütücüsü Telefon No: * </label>
                                                <input asp-for="ProjeYurutuTelefon" type="text" class="form-control" />
                                                <span asp-validation-for="ProjeYurutuTelefon" class="text-danger"></span>
                                                <p>Proje yürütücüsünün telefon numarası </p>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- /.card-body -->
                                </div>
                            </div>

                            <div class="step-tab-panel" data-step="step2">
                                <h3>Tab2</h3>
                                <form name="frmInfo" id="frmInfo">
                                    First name:<br>
                                    <input type="text" name="txtFirstName" required>
                                    <br> Last name:<br>
                                    <input type="text" name="txtLastName" required>
                                </form>
                            </div>
                            <div class="step-tab-panel" data-step="step3">
                                <h3>Tab3</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus facere porro iste quas numquam officia totam facilis suscipit, expedita rem quod, fugiat quo, veniam voluptate ut autem quia qui amet necessitatibus perferendis dignissimos ipsa doloremque. Necessitatibus delectus voluptatem unde. Architecto animi unde nostrum tenetur, doloremque distinctio, porro officiis dicta similique omnis quos odit ducimus minima ea quas facilis quod. Natus adipisci consequuntur sapiente alias culpa fugit tenetur, doloribus? Magni ipsum dolor debitis beatae quo, dicta voluptas veritatis, quos. Iusto quisquam doloribus laboriosam esse, dicta, odio facilis eligendi explicabo sequi accusamus a iste minus alias. Nisi sed laborum, aut maiores beatae aliquam voluptatum est enim impedit delectus blanditiis, neque sint nemo deleniti a quaerat voluptatem harum! Laboriosam assumenda, ullam iure. Corrupti maxime perferendis facilis ipsum, eius excepturi commodi consectetur, velit nobis reiciendis, ipsam! Maiores possimus tempore vel doloremque in facilis qui quos molestias. Culpa eius magnam repellat, ad eaque. Possimus, voluptatem.</p>
                            </div>
                            <div class="step-tab-panel" data-step="step4">
                                <h3>Tab4</h3>
                                <form name="frmLogin" id="frmLogin">
                                    Email address:<br>
                                    <input type="text" name="txtEmail" required>
                                    <br> Password:<br>
                                    <input type="text" name="txtPassword" required>
                                </form>
                            </div>
                            <div class="step-tab-panel" data-step="step5">
                                <h3>Tab5</h3>
                                <form name="frmMobile" id="frmMobile">
                                    Mobile No:<br>
                                    <input type="text" name="txtMobileNum" required>
                                </form>
                            </div>
                        </div>

                        <div class="step-footer">
                            <button data-step-action="prev" class="step-btn">Previous</button>
                            <button data-step-action="next" class="step-btn">Next</button>
                            <button data-step-action="finish" class="step-btn">Finish</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-3 ">
            cfsdfsf
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 ">

        <div class="col-md-4 float-left">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Proje Yöneticisi</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="ProjeYurutucusu">Proje Yürütücüsü: * </label>
                        <input asp-for="ProjeYurutucusu" type="text" class="form-control" />
                        <span asp-validation-for="ProjeYurutucusu" class="text-danger"></span>
                        <p>Proje yürütücüsünün adı soyadı bilgisi</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProjeYurutukurumu">Proje Yürütücüsünün Kurumu: * </label>
                        <input asp-for="ProjeYurutukurumu" type="text" class="form-control" />
                        <span asp-validation-for="ProjeYurutukurumu" class="text-danger"></span>
                        <p>Proje yürütücüsünün bağlı olduğu kurum bilgisi</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProjeYurutuTelefon">Proje Yürütücüsü Telefon No: * </label>
                        <input asp-for="ProjeYurutuTelefon" type="text" class="form-control" />
                        <span asp-validation-for="ProjeYurutuTelefon" class="text-danger"></span>
                        <p>Proje yürütücüsünün telefon numarası </p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-4 float-left">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Sorumlu Araştırmacı</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="SorumluArastirmaci">Sorumlu Araştırmacı: * </label>
                        <input asp-for="SorumluArastirmaci" type="text" class="form-control" />
                        <span asp-validation-for="SorumluArastirmaci" class="text-danger"></span>
                        <p>Proje ile sorumlu olacak kişi bilgisi </p>
                    </div>

                    <div class="form-group">
                        <label asp-for="SorumluArastirmaciTelefon">Sorumlu Araştırmacı Telefon No: * </label>
                        <input asp-for="SorumluArastirmaciTelefon" type="text" class="form-control" />
                        <span asp-validation-for="SorumluArastirmaciTelefon" class="text-danger"></span>
                        <p>Proje ile sorumlu olacak kişi telefon numarası </p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-4 float-left">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Etik Kurul </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="EtikKurulOnayNumarasi">Etik Kurul Onay Numarası: * </label>
                        <input asp-for="EtikKurulOnayNumarasi" type="text" class="form-control" />
                        <span asp-validation-for="EtikKurulOnayNumarasi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EtikKurulOnayTarihi">Etik Kurul Onay Tarihi: * </label>

                        <div class="input-group date" id="EtikKurulOnayTarihiDate" data-target-input="nearest">
                            <input type="text" asp-for="EtikKurulOnayTarihi" class="form-control datetimepicker-input"
                                   data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask data-target="#EtikKurulOnayTarihiDate">
                            <div class="input-group-append" data-target="#EtikKurulOnayTarihiDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="EtikKurulOnayTarihi" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-4 float-left">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Proje Tarihleri </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="ProjeBaslangicTarihi">Proje Başlangıç  Tarihi: * </label>

                        <div class="input-group date" id="ProjeBaslangicTarihiDate" data-target-input="nearest">
                            <input type="text" asp-for="ProjeBaslangicTarihi" class="form-control datetimepicker-input"
                                   data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask data-target="#ProjeBaslangicTarihiDate">
                            <div class="input-group-append" data-target="#ProjeBaslangicTarihiDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="ProjeBaslangicTarihi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProjeBitisTarihi">Proje Bitiş  Tarihi: * </label>
                        <div class="input-group date" id="ProjeBitisTarihiDate" data-target-input="nearest">
                            <input type="text" asp-for="ProjeBitisTarihi" class="form-control datetimepicker-input"
                                   data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask data-target="#ProjeBitisTarihiDate">
                            <div class="input-group-append" data-target="#ProjeBitisTarihiDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="ProjeBitisTarihi" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-4 float-left">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Kullanılacak Deney Hayvanı:</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">

                    <div class="form-group">
                        <label>Hayvan Irkını Seçiniz:</label>
                        <select class="form-control" asp-for="DeneyHayvaniIrkID" asp-items="ViewBag.DeneyHayvaniIrkCategories">
                            <option value="">Seçiniz</option>
                        </select>
                        <span asp-validation-for="@Model.DeneyHayvaniIrkID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Hayvan Cinsiyetini Seçiniz:</label>
                        <select class="form-control" asp-for="DeneyHayvaniCinsiyet">
                            <option value="1">Dişi</option>
                            <option value="2">Erkek</option>
                        </select>
                        <span asp-validation-for="@Model.DeneyHayvaniCinsiyet" class="text-danger"></span>
                    </div>

                    <div class="form-group">

                        <label asp-for="DeneyHayvaniYasi">Deney hayvanı Yaşı: * </label>
                        <input asp-for="DeneyHayvaniYasi" type="text" class="form-control" />
                        <span asp-validation-for="DeneyHayvaniYasi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DeneyHayvaniAgirligi">Deney Hayvanı Ağırlığı: * </label>
                        <input asp-for="DeneyHayvaniAgirligi" type="text" class="form-control" />
                        <span asp-validation-for="DeneyHayvaniAgirligi" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-4 float-left">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Teknik Destek Talebi:</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">

                    <div class="form-group">
                        <label>Teknik Destek Türü:</label>
                        <select class="form-control" asp-for="TeknikDestekTuruID" asp-items="ViewBag.ProjeTeknikDestekTalepTurCategories">
                            <option value="">Seçiniz</option>
                        </select>
                        <span asp-validation-for="@Model.TeknikDestekTuruID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Destek Hayvan Sayısı:</label>
                        <select class="form-control" asp-for="TeknikHayvanSayisiID" asp-items="ViewBag.TeknikDestekTalepHayvanSayisiCategories">
                            <option value="">Seçiniz</option>
                        </select>
                        <span asp-validation-for="@Model.TeknikHayvanSayisiID" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-4 float-left">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Kullanılacak Laboratuvar ve Tarihleri: </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">

                    <div class="form-group">
                        <label>Kullanılacak Labaratuvar:</label>
                        <select class="form-control" asp-for="LaboratuvarID" asp-items="ViewBag.LaboratuvarlarCategories">
                            <option value="">Seçiniz</option>
                        </select>
                        <span asp-validation-for="@Model.LaboratuvarID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LaboratuvarBaslangicTarihi">Kullanılacak Laboratuvar Başlangıç Tarihi: * </label>

                        <div class="input-group date" id="LaboratuvarBaslangicTarihiDate" data-target-input="nearest">
                            <input type="text" asp-for="LaboratuvarBaslangicTarihi" class="form-control datetimepicker-input"
                                   data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask data-target="#LaboratuvarBaslangicTarihiDate">
                            <div class="input-group-append" data-target="#LaboratuvarBaslangicTarihiDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="LaboratuvarBaslangicTarihi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LaboratuvarBitisTarihi">Kullanılacak Laboratuvar Bitiş Tarihi: * </label>

                        <div class="input-group date" id="LaboratuvarBitisTarihiDate" data-target-input="nearest">
                            <input type="text" asp-for="LaboratuvarBitisTarihi" class="form-control datetimepicker-input"
                                   data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask data-target="#LaboratuvarBitisTarihiDate">
                            <div class="input-group-append" data-target="#LaboratuvarBitisTarihiDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="LaboratuvarBitisTarihi" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

    <div class="col-md-2 ">

        <div class="card card-primary">
            <!-- /.card-header -->
            <div class="card-header">
                <h3 class="card-title">Diğer İşlemler: </h3>
            </div>

            <div class="card-body">
                Proforma Talebi
            </div>
            <div class="card-body">

                <div class="card-footer ">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-2"></i>Proforma Talep Et</button>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-check mr-2"></i>Kaydet</button>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<link href="https://oguzhanoya.github.io/jquery-steps/dist/jquery-steps.css" rel="stylesheet">

@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://oguzhanoya.github.io/jquery-steps/dist/jquery-steps.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/1.2.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

    <!-- date-range-picker -->
    <!-- bootstrap color picker -->

    <script>
        $('#EtikKurulOnayTarihiDate,#ProjeBaslangicTarihiDate,#ProjeBitisTarihiDate,#LaboratuvarBaslangicTarihiDate,#LaboratuvarBitisTarihiDate').datetimepicker({
            format: 'R',
            locale: 'tr',
            format: 'DD-MM-YYYY'
        });

        $('.datetimepicker-input').inputmask('dd-mm-yyyy', { 'placeholder': 'dd-mm-yyyy' })
        //$('#EtikKurulOnayTarihi').inputmask("m/d/y", { clearIncomplete: false, clearMaskOnLostFocus: false, showMaskOnFocus: false, showMaskOnHover: false });
    </script>
    @*<style>
            input.input-validation-error {
                border-color: red;
            }

            span.field-validation-error {
                color: red;
            }
        </style>*@
    <script>

        var veri = $('#veri');

        veri.removeData("validator");
        veri.removeData("unobtrusiveValidation");

        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"

        };

        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;

        $.validator.unobtrusive.parse("#veri");

        // var veriValidator = veri.validate();
        //console.log(veriValidator)

        var frmInfo = $('#frmInfo');
        var frmInfoValidator = frmInfo.validate();

        var frmLogin = $('#frmLogin');
        var frmLoginValidator = frmLogin.validate();

        var frmMobile = $('#frmMobile');
        var frmMobileValidator = frmMobile.validate();

        $('#demo').steps({
            onChange: function (currentIndex, newIndex, stepDirection) {

                console.log(currentIndex)
                console.log(stepDirection)

                // step1
                if (currentIndex === 0) {

                    if (stepDirection === 'forward') {

                        return veri.valid();
                    }
                    if (stepDirection === 'backward') {
                        veriValidator.resetForm();
                    }
                }

                // step2
                if (currentIndex === 1) {
                    if (stepDirection === 'forward') {
                        return frmInfo.valid();
                    }
                    if (stepDirection === 'backward') {
                        frmInfoValidator.resetForm();
                    }
                }
                // step4
                if (currentIndex === 3) {
                    if (stepDirection === 'forward') {
                        return frmLogin.valid();
                    }
                    if (stepDirection === 'backward') {
                        frmLoginValidator.resetForm();
                    }
                }
                // step5
                if (currentIndex === 4) {
                    if (stepDirection === 'forward') {
                        return frmMobile.valid();
                    }
                    if (stepDirection === 'backward') {
                        frmMobileValidator.resetForm();
                    }
                }
                return true;
            },
            onFinish: function () {
                alert('Wizard Completed');
                //  form.submit();
            }
        });

        $("#DeneyHayvaniTurID").change(function () {

            jQuery.ajax({
                type: 'GET',
                data: { TurID: $(this).val() },
                datatype: 'json',
                url: '/Admin/DekamProjeTakip/FiyatSec',
                beforeSend: function () {
                    //loadMore.text('').addClass('active');
                },
                success: function (data) {
                    if (data.status == "ok") {
                        var cartSelectTemplate = jQuery('#cartSelectItemsTpl').html();
                        var TemplateCompileCartSelect = Handlebars.compile(cartSelectTemplate);
                        var CompiledHtmlCartSelect = TemplateCompileCartSelect(data);
                        jQuery('#cartSelectItems').html(CompiledHtmlCartSelect);


                        var cartTeknikDestekTalepTurleri = jQuery('#teknikDestekTalepTurleriTpl').html();
                        var TemplateCompileCartSelectTalepTur = Handlebars.compile(cartTeknikDestekTalepTurleri);
                        var CompiledHtmlCartSelectTalepTur = TemplateCompileCartSelectTalepTur(data);
                        jQuery('.teknikDestekTalepTurleri').html(CompiledHtmlCartSelectTalepTur);

                    } else {
                        jQuery('#cartSelectItems').html(' <td class="tg-0lax" colspan="9"><span class="text-danger text-center"> Veri Bulunamadı </span ></td >');
                      //  jQuery('.teknikDestekTalepTurleri').html("");
                    }

                },
                error: function (e) {
                    console.log(e);
                },
                complete: function () {

                },
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DeneyHayvaniTurID").change(function () {
                $.ajax({
                    url: '/Admin/DekamProjeTakip/IrkSec',
                    data: { TurID: $(this).val() },
                    dataType: "JSON",
                    success: function (result) {
                        var irkListesi = $("#DeneyHayvaniIrkID");
                        irkListesi.empty();
                        $.each(result.cartSelectItems, function (i, item) {
                            irkListesi.append($("<option></option>").attr("value", item.id).html(item.hayvan));
                        });
                    }
                });
            });

            //$(".add-to-cart").on("click", function (event) {
        
            

            //});



        });

        $(document).on("click", ".add-to-cart", function () {
            event.preventDefault();
      
            $baseID = $(this).data("val");
            // alert($baseID);
            var destekTalepTurLeri = [];
            $("#CartDestekTalep-" + $baseID + " .destekTalepTur").each(function () {             
                if ($(this).is(':checked')) {
                  //  alert($(this).val())
                    destekTalepTurLeri.push($(this).val());
                }
            });


            IstenenHayvanSayisi = $("#CartAddData-" + $baseID + " .IstenenHayvanSayisi").val();
            DestekIstenenHayvanSayisi = $("#CartAddData-" + $baseID + " .DestekIstenenHayvanSayisi").val();
            BakimDestegiGunSayisi = $("#CartAddData-" + $baseID + " .BakimDestegiGunSayisi").val();
          
            otenaziIstek = 0;

            if ($("#CartAddData-" + $baseID + " .OtenaziIstek").is(':checked')) {
                otenaziIstek = 1;
            }

            var dataobj = {
                BaseId: $baseID,
                IstenenHayvanSayisi: IstenenHayvanSayisi,
                DestekIstenenHayvanSayisi: DestekIstenenHayvanSayisi,
                BakimDestegiGunSayisi: BakimDestegiGunSayisi,
                OtenaziIstek: otenaziIstek,
                destekTalepTurLeri: destekTalepTurLeri.join(),
            };
          //  console.log(destekTalepTurLeri.join())

            $.ajax({
                url: '/ShoppingCart/Add',
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",

                //beforeSend: function (xhr) {
                //    xhr.setRequestHeader("XSRF-TOKEN",
                //        $('input:hidden[name="__RequestVerificationToken"]').val());
                //},
                data:dataobj,  

                success: function (result) {
                  console.log(result)
                }
            });

        }); 

    </script>

    <partial name="_ValidationScriptsPartial" />
}

@section Style{
    <link href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}