@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@ViewBag.ToplamPostSayisi</h3>

            <p>Toplam İçerik Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a asp-action="Index" asp-controller="Bildirim" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>


<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@ViewBag.OkunmamisBildirimSayisi</h3>

            <p>Gelen Satınalma Bildirim Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a asp-action="Index" asp-controller="Bildirim" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>




<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@ViewBag.AtanmayiBekleyenGorevSayisi</h3>

            <p>Atanma Bekleyen Görev Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>@ViewBag.TamamlanmisGorevSayisi</h3>

            <p>Tamamlanmış Görev Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>@ViewBag.ToplamRaporSayisi</h3>

            <p>Yazılmış Rapor Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->