@model IList<Stnc.CMS.Entities.Concrete.City>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>City</h1>

@foreach (var item in Model)
{

        <dd>@item.Name</dd>
        @*<dd>@item.CityInformation</dd>*@
        @*<dd>@item.CityInformationId</dd>*@
        <dd>@item.CityInformation.Population</dd>
        <dd>@item.CityInformation.OtherName</dd>
        <dd>@item.CityInformation.MayorName</dd>

        }