@model List<Stnc.CMS.Entities.Concrete.City>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>City</h1>

@foreach (var item in Model)
{

        <dd>@item.Name</dd>
        @*<dd>@item.CityInfo.MayorName</dd>*@
        @*<dd>@item.CityInformationId</dd>
        <dd>@item.CityInfo.Population</dd>
        <dd>@item.CityInfo.OtherName</dd>
        <dd>@item.CityInfo.MayorName</dd>*@

        }