@model AppUserListDto

@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }

    //string active2 = TempData["Active"]?.ToString();
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    İçerikler
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Post"  class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>İçerikler</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href=" localhost:57684/Admin/DekamProjeTakip/GetirPdf" target="_blank" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>PDF GETİR</p>
                    </a>
                </li>


               
                <li class="nav-item">
                    <a href="/Admin/Post/AddPost" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>İçerik Ekle</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Proje Takip
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="DekamProjeTakip" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Proje Takip  Listesi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="DekamProjeTakip" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Yeni Ekle</p>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Deney hayvanı
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">



                <li class="nav-item">
                    <a asp-action="Index" asp-controller="DProjeDeneyHayvaniTur" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Deney Hayvani Türleri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="DProjeDeneyHayvaniTur" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Ekle</p>
                    </a>
                </li>



                <li class="nav-item">
                    <a asp-action="Index" asp-controller="DpDeneyHayvaniIrk" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Deney Hayvani Irk Tipleri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="DpDeneyHayvaniIrk" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Ekle</p>
                    </a>
                </li>








                <li class="nav-item">
                    <a asp-action="Index" asp-controller="DpTeknikDestekTalepTur" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Dp Teknik Destek Talep türü</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="DpTeknikDestekTalepTur" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Ekle</p>
                    </a>
                </li>



                <li class="nav-item">
                    <a asp-action="Index" asp-controller="DpLaboratuvarlar" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Labaratuvar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="DpLaboratuvarlar" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Ekle</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a asp-action="Index" asp-controller="DpDeneyHayvaniIrkFiyat" class="nav-link @(active=="profil"?"active":"")">
                        <i class="fas fa-user mr-2"></i>
                        Fiyatlar
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="DpDeneyHayvaniIrkFiyat" class="nav-link @(active=="profil"?"active":"")">
                        <i class="fas fa-user mr-2"></i>
                        Fiyat Ekle
                    </a>

                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview  @(active=="gorev"?"menu-open":"")">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    GÖrev
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>

            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Gorev" class="nav-link @(active=="gorev"?"active":"")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Görev İşlemleri</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Aciliyet" class="nav-link  @(active=="aciliyet"?"active":"")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Aciliyet</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Slİder
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Slider" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Slider</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Slider/AddSlider" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>slider Ekle</p>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Personel
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Post" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Personel</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Post/AddPost" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Personel Ekle</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link ">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                    Ayarlar
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                
                <li class="nav-item">
                    <a href="/Admin/Post" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ayarlar</p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="/Admin/FrontMenu" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Önyüz Menü Ayarları</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Profil" class="list-group-item list-group-item-action @(active=="profil"?"active":"")">
                        <i class="fas fa-user mr-2"></i>
                        Profilim
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item has-treeview menu-open-">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Duyurular
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Post" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Duyurular</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Post/AddPost" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Duyuru Ekle</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Kategoriler
                    <i class="fas fa-angle-left right"></i>
                    <span class="badge badge-info right">6</span>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Category" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kategori Listesi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Category/AddCategory" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kategori Ekle</p>
                    </a>
                </li>

            </ul>



            <ul class="nav nav-treeview">
                <li class="nav-item">

                    <a asp-area="" asp-action="CikisYap" asp-controller="Home" class="list-group-item list-group-item-action ">
                        <i class="fas fa-sign-out-alt mr-2"></i>
                        Çıkış Yap
                    </a>

                </li>
            

            </ul>
        </li>

     




     
    </ul>
</nav>